{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="form-group">
    <div class="text-center p-5 form-group sign-up-form mb-5 mt-5">
        <div class="container">
            <div class="row">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary mt-5">Register</button>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
