body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background: hsl(230, 30%, 20%);
    width: 100%;
    height: 100%;
}
.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: hsl(230, 30%, 10%);
    margin-bottom: 100px;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 100px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 100px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 100px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 100px;
    font-size: 1rem;
}
.main{
    padding-top: 100px;
    background-color: hsl(230, 30%, 20%);
    width: 100%;
    height: 100%;
}
.form-group{
    width: 60%;
    display: flex;
    margin: auto;
}
.sign-up-form{
    width: 50%;
    background-color: hsl(230, 10%, 30%);
    border-radius: 10px;
    color: white;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 2px 2px 10px 3px hsl(230, 20%, 25%);
}
.main-search{
    text-align: center;
    padding: 10px;
}
.main-search input{
    width: 50%;
    border-radius: 5px;
    border: black 1px;
    padding: 5px;
    margin: 20px;
    height: 40px;
    font-size: 20px;
}
.category-box img{
    width: 80%;
    border-radius: 5px;
}
.category-box a{
    text-decoration: none;
}
.base-footer{
    background-color: hsl(230, 30%, 10%);
}
.item-box{
    width: 80%;
    border-radius: 5px;
}
.admin-buttons{
    border: #DDDDDD 1px;
    border-radius: 5px;
    padding: 10px;
}
.admin-buttons a{
    text-decoration: none;
}
.admin-buttons a:hover{
    padding: 15px;
}
.add-new-form{
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.edit-item{
    border: #DDDDDD 1px;
    border-radius: 5px;
}
.edit-item a{
    text-decoration: none;
}

