{% extends 'base.html.twig' %}
{% block title %} Sing Up {% endblock %}
{% block body %}
    <div class="form-group">
        <div class="text-center p-5 form-group sign-up-form">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary mt-3 p-3">Sign up</button>
            {{ form_end(form) }}

        </div>
    </div>


{% endblock %}